/* Reseteo valores por default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fin Reseteo valores por default*/


/* Family Font - Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Fin Family Font - Google Font */


/* Globales */
body {
    background-color: #E8DCFC;
    font-family: "Raleway", sans-serif;
}

header h1,
header h2,
header p,
header div {
    padding: 10px;
}

.navegacion-principal {
    background-color: #b396f5;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
}

header .navegacion-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a img {
    width: 50px;
    height: auto;
    margin: 10px;
}

.cont-funciones-mas {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 10px;
}

.cont-funciones-mas {
    color: #FFFFFF;
    background-color: #824CF8;
    border-radius: 15px;
    padding: 8px;
    font-size: 15px;
}

.nav-canvas,
.nav-link {
    background-color: #b396f5;
    color: #ffffff;
    font-weight: 600;
}

.nav-canvas-menu {
    background-color: #824CF8;
}

.nav-canvas-menu a {
    color: #ffffff;
    font-weight: 600;
}

h1 {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    color: #2C2C2C;
}

h2 {
    font-size: 35px;
    font-weight: 600;
    color: #2C2C2C;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
    font-weight: bolder;
    color: #2C2C2C;
}

p {
    font-size: 15px;
    font-weight: 400;
}

footer.contenedor-footer {
    display: flex;
    flex-direction: column;
    background-color: #b396f5;
    padding: 25px;
}

footer .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 20px 0px 20px;
}

footer .footer-enlaces {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .footer-enlaces ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .footer-enlaces li {
    margin-bottom: 8px;
}

footer .footer-enlaces a {
    text-decoration: none;
    font-weight: 500;
    color: #2e2e2e;
}

footer .footer-enlaces .mailto {
    color: #7039f1;
    font-weight: 600;
}

footer .footer-enlaces a:hover {
    color: #7039f1;
    font-weight: bold
}

footer .footer-partners {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    gap: 10px;
}

footer .footer-partners p {
    text-align: right;
    margin: 0;
}

footer .footer-partners img {
    margin: 0 10px;
    max-width: 50px;
    height: auto;
}

footer .footer-pie {
    display: flex;
    justify-content: space-between;
}

footer .footer-rrss a {
    margin: 0 10px;
    font-size: 20px;
    color: #1b1b1b;
    text-decoration: none;
    align-items: center;
}

footer .footer-rrss a:hover {
    color: #007bff;
}

.error404 h1 {
    font-size: 30px;
    text-align: center;
    text-transform: none;
}

.error404 p {
    text-align: center;
    text-transform: none;
}
/* Fin Globales */


/* index.html */
.contenedor-principal {
    text-align: center;
    margin-top: 60px;
}

.contenedor-principal-botones a {
    color: #FFFFFF;
    background-color: #824CF8;
    border-radius: 15px;
    padding: 10px;
}

.contenedor-principal-botones {
    margin: 20px 0 20px 0;
    text-align: center;
}

main .contenedor-funciones-ppal h2 {
    text-align: center;
} 

main .contenedor-funciones-ppal > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    text-align: center;
}

main section div img {
    max-width: 100%;
    width: 400px;
    height: auto;
    margin: 5px;
}

main section div h3 {
    margin: 10px 0;
}

main section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contenedor-funciones-sec > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: start;
    text-align: center;
}

main .contenedor-funciones-sec img {
    width: 300px;
    margin-bottom: 10px;
}

main .cont-funciones-mas {
    margin-top: 20px;
}

main .contenedor-clientes {
    text-align: center;
    padding: 20px;
}

main .contenedor-clientes > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

main .contenedor-clientes img {
    margin: 10px;
    width: 150px;
    height: 150px;
}

/* Fin index.html */


/* funciones.html */
main section .div-funciones {
    width: 400px;
    height: auto;
    margin: 5px;
    text-align: center;
}

main section .div-otras-funciones {
    background-color: #824CF8;
    color: #FFFFFF;
    margin-top: 30px;
    padding: 30px;
}

main section .div-otras-funciones h3 {
    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: center;
}
/* Fin funciones.html */


/* legalidad.html */
.contenedor-main-legales section {
    margin: 10px; 
}

.contenedor-main-legales section ul {
    margin: 30px;
}
/* Fin legalidad.html */


/* faq.html */
header div input {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: #646464;
    padding: 20px;
    margin: 20px;
    background-color: #cbb5fd;
    border-radius: 50px;
    border-style: solid;
    border-color: #7039f1;
    width: 100%;
}

main section .div-faq {
    border: solid;
    border-width: 0.5;
    border-color: #d1c0f8;
    margin-top: 30px;
}

main section div .header-faq {
    background-color: #d1c0f8;
    padding: 20px;
}

main section div .contenido-faq {
    margin: 0px 30px 30px 20px;
}

main section > p,
.datos-contactos {
    margin: 10px;
}

.contenedor-faq-contacto a,
.datos-contactos a {
    color: #7039f1;
    font-weight: 600;
}
/* Fin faq.html */


/* contacto.html */
main section form {
    background-color: #cbb5fd;
    padding: 30px;
    border-radius: 5px;
}

main section form div > button {
    background-color: #79fdb0;
    border: solid;
    border-radius: 20px;
    border-width: 0.2;
    border-color: #009e42;
    padding: 5px;
}

form div div input,
textarea {
    border: solid;
    border-radius: 5px;
    border-color: #7039f1;
    border-width: 0.2;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
}

::placeholder{
    font-family: "Raleway", sans-serif;
    text-align: left;
    color: #646464;
}
/* Fin contacto.html */


/* aboutus.html */
/* Fin aboutus.html */


/* tyc.html */
/* Fin tyc.html */


/* login.html */
/* Fin login.html */


/* createaccount.html */
/* Fin createaccount.html */