/* Reseteo valores por default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globales */
body {
    background-color: $color-bg;
    font-family: $font-principal;
}

header {

    h1,
    h2,
    p,
    div {
        @extend %padding-10;
    }

    .navegacion-principal {
        @include flex-center(space-between, center);
        background-color: $color-cuaternario;
    }

    nav a img {
        @extend %img-size;
    }
}

a {
    @include font-settings(16px, 600, $color-blanco);
    text-decoration: none;
}

.nav-canvas,
.nav-link {
    background-color: $color-cuaternario;
    color: $color-blanco;
    font-weight: 700;
}

.navbar-nav {
    .nav-link {

        &.active,
        &:hover {
            color: $color-principal;
        }
    }
}

.nav-canvas-menu {
    background-color: $color-principal;

    a {
        color: $color-blanco;
        font-weight: 700;
    }
}

h1 {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    @extend %text-center;
    margin-top: 10px;
    color: $color-gris;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    color: $color-gris;
}

h3 {
    font-size: 25px;
    font-weight: bolder;
    color: $color-gris;
}

p {
    font-size: 15px;
    font-weight: 600;
}

.error404 {
    h1 {
        font-size: 30px;
        @extend %centered-content;
    }

    p {
        @extend %text-center;
        text-transform: none;
    }
}

.error404-img {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
}