//Variables
$color-bg: #e8dcfc;
$color-principal: #824cf8;
$color-secundario: #d6c6fd;
$color-terciario: #cbb5fd;
$color-cuaternario: #b396f5;
$color-blanco: #FFFFFF;
$color-gris: #2C2C2C;
$color-enlaces: #7039f1;

$font-principal: 'Raleway', sans-serif;

// Extends
%padding-10 {
    padding: 10px;
}

%img-size {
    width: 50px;
    height: auto;
    margin: 10px;
}

%font-bold {
    font-weight: bold;
}

%text-center {
    text-align: center;
}

%centered-content {
    text-align: center;
    text-transform: none;
}