/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globales */


/* index.html */


/* funciones.html */


/* legalidad.html */


/* faq.html */


/* aboutus.html */


/* contacto.html */


/* tyc.html */


/* login.html */


/* createaccount.html */