/* Reseteo valores por default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Raleway Family Font - Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Globales */
body {
    background-color: #E8DCFC;
    font-family: "Raleway", sans-serif;
    margin: 30px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

body header h1,
body header h2,
body header p {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #7039f1;
    font-weight: 400;
}

.error404 h1 {
    font-size: 30px;
    text-align: center;
    text-transform: none;
}

.error404 p {
    text-align: center;
    text-transform: none;
}

footer div ul {
    list-style-type: none;
    padding: 0;
}

footer div ul li {
    margin: 15px 0 15px 0;
}

.footer-partners img,
.footer-rrss img  {
    width: 50px;
    height: auto;
    margin: 5px;
}

.footer-rrss img {
    width: 30px;
}

/* index.html */
header .navegacion-principal {
    padding: 0;
}

header nav a img {
    width: 50px;
    height: auto;
    margin: 10px;
}

.nav-enlaces, .nav-botones {
    text-align: center;
    word-spacing: 50px;
}

.nav-enlaces a.activo {
    font-weight: bold;
}

.nav-botones {
    word-spacing: 0;
    padding: 30px;
}

.contenedor-principal-botones a, .nav-botones a {
    color: #FFFFFF;
    background-color: #824CF8;
    border-radius: 10px;
    padding: 10px;
}

.contenedor-principal-botones {
    margin: 20px 0 20px 0;
}

.contenedor-main {
    padding: 10px;

}

main .contenedor-funciones-sec img {
    width: 100px;
    margin-bottom: 10px;
}

main .contenedor-clientes img {
    width: 200px;
    margin: 40px
}

/* funciones.html */


/* legalidad.html */
.contenedor-main-legales section {
    margin: 10px; 
}

.contenedor-main-legales section ul {
    margin: 30px;
}

/* faq.html */


/* aboutus.html */


/* contacto.html */


/* tyc.html */


/* login.html */


/* createaccount.html */