/* Reseteo valores por default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fin Reseteo valores por default*/


/* Family Font - Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Fin Family Font - Google Font */


/* Globales */
body {
    background-color: #E8DCFC;
    font-family: "Raleway", sans-serif;
}

body header h1,
body header h2,
body header p,
body header div {
    padding: 10px;
}

.navegacion-principal {
    background-color: #b396f5;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
}

header .navegacion-principal {
    padding: 0;
}

header nav a img {
    width: 50px;
    height: auto;
    margin: 20px;
}

.nav-enlaces,
.nav-botones {
    text-align: center;
    word-spacing: 50px;
}

.nav-enlaces a.activo {
    color: #7039f1;
    font-weight: bold;
}

.nav-botones {
    word-spacing: 0;
    padding: 30px;
}

h1 {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    color: #2C2C2C;
}

h2 {
    font-size: 35px;
    font-weight: 600;
    color: #2C2C2C;
    margin-bottom: 10px;
}

h3 {
    font-size: 25px;
    font-weight: bolder;
    color: #2C2C2C;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

main,
footer {
    margin: 20px;
    padding: 20px;
}

footer {
    background-color: #b396f5;
    padding: 50px;
}

footer hr {
    border: 0;
    height: 5px;
    background: linear-gradient(to right, #7039f1, #E8DCFC);
}

footer div ul {
    list-style-type: none;
    padding: 0;
}

footer div ul li {
    margin: 10px 0 10px 0;
}

footer div ul li a {
    color: #7039f1;
    font-weight: 600;
    font-size: 15px;
}

footer div p {
    font-weight: 600;
    text-align: center;
}

footer div div {
    font-weight: 600;
    text-align: center;
    margin: 5px 0 5px 0;
}

.footer-partners img,
.footer-rrss img  {
    width: 50px;
    height: auto;
}

footer div div div p {
    font-size: 15px;
    color: #646464;
    text-align: left;
    margin: 10px;
}

.footer-rrss img {
    width: 30px;
    float: right;
}

.footer-rrss p {
    text-align:left ;
    margin-top: 20px;
}

.error404 h1 {
    font-size: 30px;
    text-align: center;
    text-transform: none;
}

.error404 p {
    text-align: center;
    text-transform: none;
}
/* Fin Globales */


/* index.html */
.contenedor-principal {
    text-align: center;
}

.contenedor-principal-botones a, .nav-botones a {
    color: #FFFFFF;
    background-color: #824CF8;
    border-radius: 10px;
    padding: 10px;
}

.contenedor-principal-botones {
    margin: 20px 0 20px 0;
    text-align: center;
}

.contenedor-main {
    padding: 10px;
}

main section div img {
    width: 400px;
    height: auto;
    margin: 5px;
}

body main section div h3 {
    margin-bottom: 5px;
}

main section {
    padding: 20px;
}

main .contenedor-funciones-sec img {
    width: 190px;
    margin-bottom: 10px;
}

main .contenedor-clientes img {
    width: 200px;
    margin: 40px
}
/* Fin index.html */


/* funciones.html */
main section .div-funciones {
    width: 400px;
    height: auto;
    margin: 5px;
    text-align: center;
}

main section .div-otras-funciones {
    background-color: #824CF8;
    color: #FFFFFF;
    margin-top: 30px;
    padding: 30px;
}

main section .div-otras-funciones h3 {
    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: center;
}
/* Fin funciones.html */


/* legalidad.html */
.contenedor-main-legales section {
    margin: 10px; 
}

.contenedor-main-legales section ul {
    margin: 30px;
}
/* Fin legalidad.html */


/* faq.html */
/* Fin faq.html */


/* aboutus.html */
/* Fin aboutus.html */


/* contacto.html */
/* Fin contacto.html */


/* tyc.html */
/* Fin tyc.html */


/* login.html */
/* Fin login.html */


/* createaccount.html */
/* Fin createaccount.html */